@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

/*****************************************/
/* Global */
/*****************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --color-1: #fefaf6;
  --color-2: #eadbc8;
  --color-3: #dac0a3;
  --color-4: #102c57;
  --color-black: #333;
  --color-white: #fff;
}

body {
  background-color: var(--color-1);
}

/*****************************************/
/* Main */
/*****************************************/

.add-form {
  padding: 8rem 12rem 0 12rem;
}

.my-notes {
  padding: 5rem 12rem 0 12rem;
}

.my-notes-archived {
  padding: 5rem 12rem 3rem 12rem;
}

/* Tablet  */
@media (max-width: 992px) {
  .add-form {
    padding: 8rem 10rem 0 10rem;
  }

  .my-notes {
    padding: 5rem 10rem 0 10rem;
  }

  .my-notes-archived {
    padding: 5rem 10rem 3rem 10rem;
  }
}

/* Handphone  */
@media (max-width: 425px) {
  h2 {
    font-size: 1.2rem;
  }

  .add-form {
    padding: 8rem 4rem 0 4rem;
  }

  .my-notes {
    padding: 5rem 4rem 0 4rem;
  }

  .my-notes-archived {
    padding: 5rem 4rem 3rem 4rem;
  }
}
